version: "3.9"
services:
  spaggomatic:
    build: .
    ports:
      - "3000:80"
    volumes:
      - .:/spaggomatic
    depends_on:
      - redis
  redis:
    image: redis
    command: redis-server
    volumes:
      - "./data:/data"